# portfolio/.gitignore

### IntelliJ IDEA 공통 캐시 (멀티 모듈 구조 유지용) ###
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/caches/
*.iws

### VS Code 캐시 ###
.vscode/
