# portfolio/asset/.gitignore
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS 및 Eclipse 설정 제외 ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ 모듈별 로컬 캐시 ###
.idea/workspace.xml
.idea/tasks.xml

### 보안 및 데이터 파일 차단 ###
account.env
key.env
data.json
token.json
*.env
